{% extends 'base.html' %}
{% load static %}  <!-- Ensures static files are properly loaded -->

{% block title %}Profile{% endblock %}



{% block content %}
    <div class="container-fluid">
        <div class="row">
            <!-- Profile Sidebar -->
            <div class="col-md-3">
                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle" src="{% static 'dist/img/user4-128x128.jpg' %}" alt="User profile picture">
                        </div>
                        <h3 class="profile-username text-center">{{ username }}</h3>
                        <p class="text-muted text-center">Software Engineer</p>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Followers</b> <a class="float-right">{{ followers }}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Following</b> <a class="float-right">{{ following }}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Friends</b> <a class="float-right">{{ friends }}</a>
                            </li>
                        </ul>

                        <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
                    </div>
                </div>
                <!-- About Me Box -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">About Me</h3>
                    </div>
                    <div class="card-body">
                        <strong><i class="fas fa-book mr-1"></i> Education</strong>
                        <p class="text-muted">{{ education }}</p>

                        <hr>

                        <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>
                        <p class="text-muted">{{ location }}</p>

                        <hr>

                        <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>
                        <p class="text-muted">
                            {% for skill in skills %}
                                <span class="tag tag-info">{{ skill }}</span>
                            {% endfor %}
                        </p>

                        <hr>

                        <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>
                        <p class="text-muted">{{ notes }}</p>
                    </div>
                </div>
            </div>
            <!-- /.col -->

            <!-- Profile Content -->
            <div class="col-md-9">
                <!-- Content for activity, timeline, settings, etc. -->
            </div>
            <!-- /.col -->
        </div>
    </div>
{% endblock %}

