<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}My Activities{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{% url 'activities:activity_list' %}">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>

  </header>
  
  <main>
    {% block content %}
    <!-- Main content goes here -->
    {% endblock %}
  </main>

  <footer>
    <p>&copy; 2024 My Activities</p>
  </footer>
</body>
</html>


